<!-- Left Sidebar Start -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" data-key="t-menu">Menu</li>

                <li>
                    <a href="/">
                        <i data-feather="home"></i>
                        <span data-key="t-dashboard">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i data-feather="edit"></i>
                        <span data-key="t-manage-clan-page">Manage Clan Page</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="clan-profile">Manage Clan Info</a></li>
                        <li><a href="view-clan-lineage">View Clan head Lineage</a></li>
                        <li><a href="clan-history">Clan History</a></li>
                        <li><a href="notable-members">Notable Members</a></li>
                        <li><a href="clan-traditions">Traditions</a></li>
                        <li><a href="oral-histories">Oral Histories/Stories</a></li>
                        <li><a href="media-gallery">Media Gallery</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i data-feather="users"></i>
                        <span data-key="t-clan-members">Clan Members</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="members-list">Members List</a></li>
                        <li><a href="members-map">Members Map</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i data-feather="message-square"></i>
                        <span data-key="t-messages">Messages</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="member-communications">Member Communications</a></li>
                        <li><a href="broadcast-messages">Broadcast Messages</a></li>
                        <li><a href="email-newsletters">Email Newsletters</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i data-feather="user"></i>
                        <span data-key="t-account">Account</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="account-profile">Profile</a></li>
                        <li><a href="account-settings">Settings</a></li>
                        <li><a href="billing">Billing</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i data-feather="help-circle"></i>
                        <span data-key="t-admin-help">Admin Help</span>
                    </a>
                </li>

            </ul>

            <!-- User account
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" data-key="t-menu">User Account</li>

                <li>
                    <a href="/">
                        <i data-feather="home"></i>
                        <span data-key="t-dashboard">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i data-feather="users"></i>
                        <span data-key="t-family-tree">Manage Ancestry & Family Tree</span>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="javascript: void(0);">Profile Management</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="#" data-key="t-profile">View Profile</a></li>
                                <li><a href="#" data-key="t-update-personal-information">Update Personal Information</a></li>
                                <li><a href="#" data-key="t-update-personal-information">Add/Edit Profile Pictures</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript: void(0);">Family Tree</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="#" data-key="t-profile">View Family Tree</a></li>
                                <li><a href="#" data-key="t-add-family-memebers">Add New Family Members</a></li>
                                <li><a href="#" data-key="t-edit-Profile-Pictures">Edit Existing Family Member</a></li>
                                <li><a href="#" data-key="t-edit-Profile-Pictures">Remove Family Member</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Ancestry Research</a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="#" data-key="t-search-historical-records">Search Historical Records</a></li>
                                <li><a href="#" data-key="t-explore-ancestral-locations">Explore Ancestral Locations</a></li>
                                <li><a href="#" data-key="t-connect-dna-relatives">Connect with DNA Relatives</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Media & Documents</a>
                        
                        </li>
                        <li><a href="#">Privacy & Sharing</a></li>
                        <li><a href="#">Data Backup & Export</a></li>
                    </ul>
                </li>
            </ul> -->
        </div>
    </div>
</div>
<!-- Left Sidebar End -->